@media only screen and (max-width: 650px) {
  .molo {
    width: 100%;
    padding: 0;
  }
  .molo .header {
    width: 100% !important;
    padding: 0 24px !important;
  }
  .molo .header .header__button:after {
    display: none !important;
  }
  .molo .header .header__button {
    display: none !important;
  }
  .molo .header .logo {
    margin-right: 0;
  }
  .molo .header .nav__menu {
    margin-left: 15px;
  }
  .molo .section {
    padding: 30px 24px 0 24px;
    width: 100%;
  }
  .molo .section .mainBanner {
    width: 100%;
    flex-flow: column wrap;
    padding: 32px 16px;
  }
  .molo .section .mainBanner .mainBanner__contentWrapper {
    width: 100% !important;
  }
  .molo .section .mainBanner .mainBanner__contentWrapper .mainBanner__heading {
    font-size: 62px !important;
    line-height: 58px !important;
    width: 100%;
    margin-top: 12 !important;
  }
  .molo .section .mainBanner .mainBanner__contentWrapper .mainBanner__text {
    width: 100%;
    padding: 5px;
  }
  .molo .section .mainBanner .mainBanner__contentWrapper .mainBanner__button {
    width: 100% !important;
  }
  .molo .section .oneCard {
    flex-flow: column;
    width: 100%;
    height: auto;
    margin-top: 16px;
  }
  .molo .section .oneCard .oneCard__imageWrapper {
    width: 100%;
  }
  .molo .section .oneCard .oneCard__imageWrapper .oneCard__img {
    width: 250px;
    height: auto;
  }
  .molo .section .oneCard .oneCard__contentWrapper {
    width: 100%;
  }
  .molo .section .oneCard .oneCard__contentWrapper .oneCard__heading {
    width: 100%;
    padding: 5px 12px;
    padding-top: 12px;
    line-height: 42px;
  }
  .molo .section .oneCard .oneCard__contentWrapper .oneCard__text {
    width: 95%;
    margin-left: 0px;
    height: auto;
    padding: 0px 5px 12px 0 !important;
  }
  .molo .fourCardPack {
    width: 100%;
    margin-top: 12px !important;
  }
  .molo .fourCardPack .fourCardPack__headerContent {
    width: 100%;
    margin: auto 0 !important;
  }
  .molo .fourCardPack .fourCardPack__headerContent .fourCardPack__headerContent--title {
    margin-bottom: 24px !important;
  }
  .molo .fourCardPack .fourCardPack__row {
    flex-flow: column !important;
    height: auto !important;
  }
  .molo .fourCardPack .fourCardPack__row .fourCardPack__cardItem {
    width: 100% !important;
    padding-right: 0 !important;
    flex-flow: column wrap !important;
    margin-bottom: 45px;
    background-size: cover;
  }
  .molo .fourCardPack .fourCardPack__row .fourCardPack__cardItem .fourCardPack__cardImgWrapper {
    top: -32px !important;
  }
  .molo .fourCardPack .fourCardPack__row .fourCardPack__cardItem .fourCardPack__cardContent {
    top: -45px !important;
  }
  .molo .fourCardPack .fourCardPack__row .fourCardPack__cardItem .fourCardPack__cardContent .fourCardPack__cardLabel {
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
  }
  .molo .fourCardPack .fourCardPack__row .fourCardPack__cardItem .fourCardPack__cardContent .fourCardPack__cardText {
    width: 80% !important;
  }
  .molo .fourCardPack .fourCardPack__row .fourCardPack__cardItem .fourCardPack__cardContent .fourCardPack__cardLink {
    position: relative;
    top: -46px;
  }
  .molo .fourCardPack .fourCardPack__row .fourCardPack__cardItem .fourCardPack__cardContent .fourCardPack__cardLink:after {
    top: -27px !important;
  }
  .molo .carousel {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 50px !important;
  }
  .molo .carousel .carousel__heading {
    width: 100% !important;
    height: auto !important;
    text-align: center !important;
    padding: 24px !important;
  }
  .molo .carousel .carousel__row {
    margin-bottom: 25px;
    padding: 16px !important;
  }
  .molo .carousel .carousel__row .carousel__cardItem {
    flex-flow: column !important;
  }
  .molo .carousel .carousel__row .carousel__cardItem .carousel__imgWrapper {
    padding: 24px !important;
  }
  .molo .carousel .carousel__row .carousel__cardItem .carousel__contentWrapper {
    padding-top: 0 !important;
  }
  .molo .carousel .carousel__row .carousel__cardItem.carousel__cardItem--one {
    width: 100% !important;
    margin-left: 0 !important;
    align-items: center !important;
  }
  .molo .carousel .carousel__row .carousel__cardItem.carousel__cardItem--two {
    display: none !important;
  }
  .molo .carousel .carousel__row.carousel__row--pagination .carousel__pagination--active, .molo .carousel .carousel__row.carousel__row--pagination .carousel__pagination {
    display: none;
  }
  .molo .carousel .carousel__row.carousel__row--pagination .carousel__controlArrow--right {
    left: 55% !important;
    font-size: 40px !important;
    opacity: 1 !important;
    top: -5px !important;
  }
  .molo .ribbon {
    width: 100% !important;
    height: auto !important;
    flex-flow: column !important;
    padding: 0 16px !important;
    text-align: center;
  }
  .molo .ribbon .ribbon__heading {
    font-family: 'Helvetica', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    color: #212353;
    margin-bottom: 24px;
  }
  .molo .ribbon .ribbon__subHeading {
    width: 100% !important;
    height: 29px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #4B5D68;
  }
  .molo .ribbon .ribbon__button--learn {
    margin-left: 0 !important;
    width: 100% !important;
  }
  .molo .ribbon .ribbon__button--request {
    margin-left: 0 !important;
    margin: auto !important;
    top: 32px !important;
  }
  .molo .footer {
    padding: 64px 12px !important;
    width: 100% !important;
  }
  .molo .footer .footer__splitWrapper {
    flex-flow: column !important;
  }
  .molo .footer .footer__splitWrapper .footer__splitItem:nth-child(1), .molo .footer .footer__splitWrapper .footer__splitItem:nth-child(2) {
    border-bottom: 1px solid gray !important;
  }
  .molo .footer .footer__splitWrapper .footer__splitItem {
    width: 100% !important;
    padding: 32px !important;
    margin-bottom: 64px i !important;
  }
  .molo .footer .footer__splitWrapper .footer__splitItem .footer__splitItemAddress {
    font-family: 'Nunito', sans-serif !important;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
    color: #212353;
  }
  .molo .footer .footer__splitWrapper .footer__splitItem .footer__splitItemContact {
    font-family: "Nunito", sans-serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    color: #212353;
  }
  .molo .footer .footer__splitWrapper .footer__splitItem .footer__linkListColumn .footer__linkItemHeading {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
    color: #212353;
  }
  .molo .footer .footer__splitWrapper .footer__splitItem .footer__linkListColumn .footer__linkList {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    color: #212353;
  }
  .molo .footer .footer__splitWrapper .footer__splitItem .footer__socialItemHeading {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
    color: #212353;
  }
  .molo .section__fourCardPack--marginBottom {
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 768px) {
  .molo .header {
    width: 100%;
  }
  .molo .section {
    width: 100%;
    padding-left: 75px;
  }
  .molo .section .mainBanner {
    width: 100%;
    flex-flow: column wrap;
  }
  .molo .section .mainBanner .mainBanner__contentWrapper {
    width: 100%;
  }
  .molo .section .mainBanner .mainBanner__contentWrapper .mainBanner__heading {
    width: 100%;
  }
  .molo .section .mainBanner .mainBanner__contentWrapper .mainBanner__text {
    width: 100%;
  }
}

/*# sourceMappingURL=template-viewport.css.map */