body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.molo .header {
  display: flex;
  flex-flow: row nowrap;
  padding: 0 240px 62px 240px;
}

.molo .header .logo {
  display: flex;
  flex-flow: row nowrap;
  margin-right: 121px;
}

.molo .header .logo .logo__small {
  width: 20px;
  height: 20px;
  background-color: #9c69e2;
  border-radius: 50%;
  position: relative;
  top: 74px;
  margin-right: 9px;
}

.molo .header .logo .logo__large {
  width: 20px;
  height: 35px;
  background-color: #f063b8;
  border-radius: 20px;
  position: relative;
  top: 59px;
}

.molo .header .nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  flex-grow: 1;
  min-width: 0;
  height: inherit;
  background-color: white;
  color: black;
  font-size: 14px;
  position: relative;
  top: 62px;
  font-family: 'Nunito', sans-serif;
}

.molo .header .nav .nav__menu {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  padding: 0;
  position: absolute;
  left: -20px;
  top: -12px;
}

.molo .header .nav .nav__menu .nav__menuListItem {
  padding: 0 10px;
  font-weight: bold;
  margin: 0 10px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-self: baseline;
  font-weight: 500;
}

.molo .header .nav .nav__menu .nav__menuListItem--bold {
  font-weight: bolder;
}

.molo .header .header__button {
  display: flex;
  flex-flow: row nowrap;
  font-family: 'Nunito', sans-serif;
  color: #212353;
  font-size: 18px;
  background-color: #fff;
  padding: 17px 20px;
  border-radius: 50px;
  border: none;
  font-weight: 900;
  width: 210px;
  height: 60px;
  position: relative;
  top: 45px;
  -webkit-box-shadow: 0 5px 5px 0 rgba(75, 93, 104, 0.1);
  box-shadow: 0 5px 5px 0 rgba(75, 93, 104, 0.1);
}

.molo .header .header__button:after {
  content: '\2192';
  color: #9c69e2;
  position: relative;
  top: -13px;
  left: 10px;
  font-size: 40px;
}

.molo .section {
  padding-left: 240px;
}

.molo .section .mainBanner {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 53px;
}

.molo .section .mainBanner .mainBanner__contentWrapper {
  width: 30%;
}

.molo .section .mainBanner .mainBanner__contentWrapper .mainBanner__heading {
  width: 645px;
  font-family: 'Helvetica', sans-serif;
  font-size: 80px;
  color: #212353;
  z-index: 100;
  line-height: 88px;
  margin-block-end: 0;
}

.molo .section .mainBanner .mainBanner__contentWrapper .mainBanner__text {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  width: 363px;
  margin-top: 50px;
  color: #4B5D68;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: .3;
}

.molo .section .mainBanner .mainBanner__contentWrapper .mainBanner__button {
  font-family: 'Nunito', sans-serif;
  color: white;
  font-size: 18px;
  background-color: #9c69e2;
  padding: 16px 37px;
  border-radius: 50px;
  border: none;
  margin-top: 38px;
  font-weight: 900;
}

.molo .section .mainBanner .mainBanner__img {
  width: 70%;
  background-image: url("../images/image_mainBanner.png");
  background-size: 875px;
  background-repeat: no-repeat;
  z-index: -1;
  position: relative;
  top: 158px;
  left: -40px;
}

.molo .section .oneCard {
  display: flex;
  flex-flow: row nowrap;
  background-color: rgba(240, 99, 184, 0.15);
  width: 1117px;
  height: 560px;
  border-radius: 50px;
  margin-top: 198px;
}

.molo .section .oneCard .oneCard__imageWrapper {
  width: 30%;
}

.molo .section .oneCard .oneCard__imageWrapper .oneCard__img {
  width: 477px;
  height: 504px;
  z-index: 100;
  margin-top: 32px;
  margin-left: 10px;
}

.molo .section .oneCard .oneCard__contentWrapper {
  width: 70%;
}

.molo .section .oneCard .oneCard__contentWrapper .oneCard__heading {
  font-family: 'Helvetica', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  width: 475px;
  color: #212353;
  padding-top: 122px;
  padding-left: 215px;
  margin-block-start: 0;
}

.molo .section .oneCard .oneCard__contentWrapper .oneCard__text {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  line-height: 28px;
  width: 474px;
  height: 170px;
  margin-left: 215px;
  letter-spacing: .3;
}

.molo .section .fourCardPack {
  margin-top: 150px;
  margin-left: -3px;
  display: flex;
  flex-flow: column wrap;
}

.molo .section .fourCardPack .fourCardPack__headerContent {
  max-width: 584px;
  margin: auto 19.75%;
}

.molo .section .fourCardPack .fourCardPack__headerContent .fourCardPack__headerContent--title {
  font-family: 'Helvetica', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #212353;
  text-align: center;
  margin-bottom: 50px;
}

.molo .section .fourCardPack .fourCardPack__headerContent .fourCardPack__headerContent--subTitle {
  text-align: center;
  height: 58px;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 100px;
  letter-spacing: .3;
}

.molo .section .fourCardPack .fourCardPack__row {
  display: flex;
  flex-flow: row nowrap;
  padding: 0 5px;
  height: 400px;
}

.molo .section .fourCardPack .fourCardPack__row .fourCardPack__cardItem {
  width: 442px;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  padding-right: 132px;
}

.molo .section .fourCardPack .fourCardPack__row .fourCardPack__cardItem.fourCardPack__cardItem--green {
  background-image: url("../images/imageBg_cardOneFourPack.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-position-x: 110px;
}

.molo .section .fourCardPack .fourCardPack__row .fourCardPack__cardItem.fourCardPack__cardItem--violet {
  background-image: url("../images/imageBg_cardTwoFourPack.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-position-x: 110px;
}

.molo .section .fourCardPack .fourCardPack__row .fourCardPack__cardItem.fourCardPack__cardItem--pink {
  background-image: url("../images/imageBg_cardThreeFourPack.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-position-x: 110px;
}

.molo .section .fourCardPack .fourCardPack__row .fourCardPack__cardItem.fourCardPack__cardItem--blue {
  background-image: url("../images/imageBg_cardFourFourPack.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-position-x: 110px;
}

.molo .section .fourCardPack .fourCardPack__row .fourCardPack__cardItem .fourCardPack__cardImgWrapper {
  margin-top: 12px;
  position: relative;
  top: 60px;
}

.molo .section .fourCardPack .fourCardPack__row .fourCardPack__cardItem .fourCardPack__cardContent {
  padding-left: 29px;
  position: relative;
  top: 55px;
}

.molo .section .fourCardPack .fourCardPack__row .fourCardPack__cardItem .fourCardPack__cardContent .fourCardPack__cardLabel {
  width: 200px;
  height: 50px;
  font-family: 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 10px;
}

.molo .section .fourCardPack .fourCardPack__row .fourCardPack__cardItem .fourCardPack__cardContent .fourCardPack__cardText {
  width: 220px;
  height: 160px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 15px;
}

.molo .section .fourCardPack .fourCardPack__row .fourCardPack__cardItem .fourCardPack__cardContent .fourCardPack__cardLink {
  width: 87px;
  height: 26px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 26px;
  color: #212353;
}

.molo .section .fourCardPack .fourCardPack__row .fourCardPack__cardItem .fourCardPack__cardContent .fourCardPack__cardLink::after {
  content: '\2192';
  color: #9c69e2;
  position: relative;
  top: -24px;
  left: 90px;
  font-size: 40px;
}

.molo .section .carousel {
  width: 1118px;
  height: 709px;
  border-radius: 50px;
  background-color: #9c69e2;
  margin-bottom: 150px;
}

.molo .section .carousel .carousel__heading {
  width: 405px;
  height: 52px;
  font-family: 'Helvetica', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #ffffff;
  padding: 109px 93px 50px 93px;
}

.molo .section .carousel .carousel__row {
  display: flex;
  flex-flow: row nowrap;
}

.molo .section .carousel .carousel__row .carousel__cardItem {
  display: flex;
  flex-flow: row nowrap;
  width: 645px;
  height: 330px;
  background-color: #ffffff;
}

.molo .section .carousel .carousel__row .carousel__cardItem.carousel__cardItem--one {
  width: 75%;
  border-radius: 20px;
  margin-left: 93px;
  box-shadow: 0px 20px 0px 0px rgba(54, 16, 88, 0.2);
}

.molo .section .carousel .carousel__row .carousel__cardItem.carousel__cardItem--one .carousel__imgWrapper {
  padding: 60px 10px 50px 70px;
}

.molo .section .carousel .carousel__row .carousel__cardItem.carousel__cardItem--two {
  width: 32%;
  border-radius: 20px 0px 0px 20px;
  margin-left: 20px;
  box-shadow: 0px 20px 0px 0px rgba(54, 16, 88, 0.1);
}

.molo .section .carousel .carousel__row .carousel__cardItem.carousel__cardItem--two .carousel__cardItemWrapper {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  background: linear-gradient(270deg, #9C69E2 9.75%, rgba(255, 255, 255, 0) 100%);
}

.molo .section .carousel .carousel__row .carousel__cardItem.carousel__cardItem--two .carousel__imgWrapper {
  padding: 55px 50px 50px 40px;
}

.molo .section .carousel .carousel__row .carousel__cardItem.carousel__cardItem--two .carousel__contentWrapper {
  margin-top: -5px;
}

.molo .section .carousel .carousel__row .carousel__cardItem .carousel__imgWrapper {
  width: 20%;
}

.molo .section .carousel .carousel__row .carousel__cardItem .carousel__contentWrapper {
  font-family: 'Nunito', sans-serif;
  width: 80%;
  padding-top: 80px;
  overflow: hidden;
}

.molo .section .carousel .carousel__row .carousel__cardItem .carousel__contentWrapper .carousel__cardName {
  font-size: 18px;
  font-weight: 800;
  line-height: 29px;
  letter-spacing: .5%;
}

.molo .section .carousel .carousel__row .carousel__cardItem .carousel__contentWrapper .carousel__cardRole {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 1%;
  color: #9c69e2;
  margin-bottom: 20px;
}

.molo .section .carousel .carousel__row .carousel__cardItem .carousel__contentWrapper .carousel__cardBio {
  width: 385px;
  height: 130px;
  font-size: 18px;
  line-height: 32px;
  color: #4B5D68;
}

.molo .section .carousel .carousel__row--pagination {
  padding: 43px 93px;
}

.molo .section .carousel .carousel__row--pagination .carousel__pagination {
  padding: 15px 6px;
  color: #ffffff;
}

.molo .section .carousel .carousel__row--pagination .carousel__pagination--active {
  color: #F063B8;
  font-size: 40px;
}

.molo .section .carousel .carousel__row--pagination .carousel__controlArrow--left {
  position: absolute;
  right: 195px;
  color: #ffffff;
  font-size: 30px;
}

.molo .section .carousel .carousel__row--pagination .carousel__controlArrow--right {
  position: relative;
  left: 92.5%;
  top: 5px;
  font-size: 30px;
  color: #ffffff;
  opacity: .3;
}

.molo .section .ribbon {
  width: 1118px;
  height: 150px;
  display: flex;
  flex-flow: row nowrap;
  padding: 100px 0 0 0;
}

.molo .section .ribbon .ribbon__callOutWrapper .ribbon__heading {
  font-family: 'Helvetica', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #212353;
  margin-bottom: 24px;
}

.molo .section .ribbon .ribbon__callOutWrapper .ribbon__subHeading {
  width: 584px;
  height: 29px;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #4B5D68;
}

.molo .section .ribbon .ribbon__button--learn {
  font-family: 'Nunito', sans-serif;
  color: white;
  font-size: 18px;
  background-color: #F063B8;
  padding: 16px 30px;
  border-radius: 50px;
  border: none;
  margin-top: 20px;
  margin-left: 123px;
  font-weight: 900;
  width: 170px;
  height: 60px;
}

.molo .section .ribbon .ribbon__button--request {
  display: flex;
  flex-flow: row nowrap;
  font-family: 'Nunito', sans-serif;
  color: #212353;
  font-size: 18px;
  background-color: #fff;
  padding: 17px 20px;
  border-radius: 50px;
  border: none;
  font-weight: 600;
  width: 210px;
  height: 60px;
  position: relative;
  top: 20px;
  left: 30px;
  -webkit-box-shadow: 0 5px 5px 0 rgba(75, 93, 104, 0.1);
  box-shadow: 0 5px 5px 0 rgba(75, 93, 104, 0.1);
}

.molo .section .ribbon .ribbon__button--request:after {
  content: '\2192';
  color: #9c69e2;
  position: relative;
  top: -13px;
  left: 10px;
  font-size: 40px;
}

.molo .section__carousel--borderBottom {
  border-bottom: 2px solid rgba(156, 105, 226, 0.2);
}

.molo .section__fourCardPack--marginBottom {
  margin-bottom: 70px;
}

.molo .footer {
  width: 1118px;
  height: auto;
  padding: 117px 240px;
}

.molo .footer .footer__splitWrapper {
  display: flex;
  flex-flow: row nowrap;
}

.molo .footer .footer__splitWrapper .footer__splitItem .footer__splitItemHeader {
  display: flex;
  flex-flow: row nowrap;
}

.molo .footer .footer__splitWrapper .footer__splitItem .footer__splitItemHeader .logo {
  display: flex;
  flex-flow: row nowrap;
  margin-right: 20px;
  position: relative;
  top: -75px;
}

.molo .footer .footer__splitWrapper .footer__splitItem .footer__splitItemHeader .logo .logo__small {
  width: 20px;
  height: 20px;
  background-color: #9c69e2;
  border-radius: 50%;
  position: relative;
  top: 74px;
  margin-right: 9px;
}

.molo .footer .footer__splitWrapper .footer__splitItem .footer__splitItemHeader .logo .logo__large {
  width: 20px;
  height: 35px;
  background-color: #f063b8;
  border-radius: 20px;
  position: relative;
  top: 59px;
}

.molo .footer .footer__splitWrapper .footer__splitItem .footer__splitItemHeader .footer__splitItemHeaderTitle {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 32px;
  color: #212353;
  margin-top: -12px;
  margin-bottom: 55px;
}

.molo .footer .footer__splitWrapper .footer__splitItem .footer__splitItemAddress {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 15px;
  color: #212353;
  letter-spacing: .3;
  margin-bottom: 30px;
}

.molo .footer .footer__splitWrapper .footer__splitItem .footer__splitItemContact {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;
  color: #212353;
  letter-spacing: .3;
}

.molo .footer .footer__splitWrapper .footer__splitItem .footer__linkListColumn {
  padding-right: 25%;
}

.molo .footer .footer__splitWrapper .footer__splitItem .footer__linkListColumn .footer__linkItemHeading {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 26px;
  color: #212353;
  padding-left: 28px;
  margin-top: -5px;
}

.molo .footer .footer__splitWrapper .footer__splitItem .footer__linkListColumn .footer__linkList {
  padding: 15px 0 0 28px;
}

.molo .footer .footer__splitWrapper .footer__splitItem .footer__linkListColumn .footer__linkList .footer__linkListItem {
  list-style: none;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  color: #212353;
}

.molo .footer .footer__splitWrapper .footer__splitItem.footer__splitItem--left {
  width: 40%;
}

.molo .footer .footer__splitWrapper .footer__splitItem.footer__splitItem--left .header {
  padding: 62px 0 0 0;
}

.molo .footer .footer__splitWrapper .footer__splitItem.footer__splitItem--middle {
  display: flex;
  flex-flow: row nowrap;
  width: 40%;
}

.molo .footer .footer__splitWrapper .footer__splitItem.footer__splitItem--right {
  width: 20%;
}

.molo .footer .footer__splitWrapper .footer__splitItem .footer__socialItemHeading {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 26px;
  color: #212353;
  padding-left: 12px;
  margin-top: -5px;
}

.molo .footer .footer__splitWrapper .footer__splitItem .footer__socialMediaIconWrapper {
  display: flex;
  flex-flow: row nowrap;
}

.molo .footer .footer__splitWrapper .footer__splitItem .footer__socialMediaIconWrapper .footer__socialMediaIcon {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #aaa;
  margin-top: 15px;
  margin: 13px 2px 0 13px;
}

@media only screen and (max-width: 450px) {
  .molo {
    width: 100%;
  }
  .molo .header {
    width: 100% !important;
    padding: 0 24px !important;
  }
  .molo .header .header__button:after {
    display: none !important;
  }
  .molo .header .header__button {
    display: none !important;
  }
  .molo .section {
    padding: 30px 24px 0 24px;
    width: 100%;
  }
  .molo .section .mainBanner {
    width: 100%;
    flex-flow: column wrap;
    padding: 32px 16px;
  }
  .molo .section .mainBanner .mainBanner__contentWrapper {
    width: 100%;
  }
  .molo .section .mainBanner .mainBanner__contentWrapper .mainBanner__heading {
    font-size: 62px !important;
    line-height: 58px !important;
    width: 100%;
    margin-top: 12 !important;
  }
  .molo .section .mainBanner .mainBanner__contentWrapper .mainBanner__text {
    width: 100%;
    padding: 5px;
  }
  .molo .section .mainBanner .mainBanner__contentWrapper .mainBanner__button {
    width: 100% !important;
  }
  .molo .section .oneCard {
    flex-flow: column;
    width: 100%;
    height: auto;
    margin-top: 16px;
  }
  .molo .section .oneCard .oneCard__imageWrapper {
    width: 100%;
  }
  .molo .section .oneCard .oneCard__imageWrapper .oneCard__img {
    width: 250px;
    height: auto;
  }
  .molo .section .oneCard .oneCard__contentWrapper {
    width: 100%;
  }
  .molo .section .oneCard .oneCard__contentWrapper .oneCard__heading {
    width: 100%;
    padding: 5px 12px;
    padding-top: 12px;
    line-height: 42px;
  }
  .molo .section .oneCard .oneCard__contentWrapper .oneCard__text {
    width: 95%;
    margin-left: 0px;
    height: auto;
    padding: 0px 5px 12px 0 !important;
  }
  .molo .fourCardPack {
    width: 100%;
    margin-top: 12px !important;
  }
  .molo .fourCardPack .fourCardPack__headerContent {
    width: 100%;
    margin: auto 0 !important;
  }
  .molo .fourCardPack .fourCardPack__headerContent .fourCardPack__headerContent--title {
    margin-bottom: 24px !important;
  }
  .molo .fourCardPack .fourCardPack__row {
    flex-flow: column !important;
    height: auto !important;
  }
  .molo .fourCardPack .fourCardPack__row .fourCardPack__cardItem {
    width: 100% !important;
    padding-right: 0 !important;
    flex-flow: column wrap !important;
    background-position: 0 !important;
  }
  .molo .fourCardPack .fourCardPack__row .fourCardPack__cardItem .fourCardPack__cardImgWrapper {
    top: -32px !important;
  }
  .molo .fourCardPack .fourCardPack__row .fourCardPack__cardItem .fourCardPack__cardContent {
    top: -45px !important;
  }
  .molo .fourCardPack .fourCardPack__row .fourCardPack__cardItem .fourCardPack__cardContent .fourCardPack__cardLabel {
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
  }
  .molo .fourCardPack .fourCardPack__row .fourCardPack__cardItem .fourCardPack__cardContent .fourCardPack__cardText {
    width: 100% !important;
  }
  .molo .fourCardPack .fourCardPack__row .fourCardPack__cardItem .fourCardPack__cardContent .fourCardPack__cardLink {
    position: relative;
    top: -46px;
  }
  .molo .fourCardPack .fourCardPack__row .fourCardPack__cardItem .fourCardPack__cardContent .fourCardPack__cardLink:after {
    top: -27px !important;
  }
  .molo .carousel {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 50px !important;
  }
  .molo .carousel .carousel__heading {
    width: 100% !important;
    height: auto !important;
    text-align: center !important;
    padding: 24px !important;
  }
  .molo .carousel .carousel__row {
    margin-bottom: 25px;
    padding: 16px !important;
  }
  .molo .carousel .carousel__row .carousel__cardItem {
    flex-flow: column !important;
  }
  .molo .carousel .carousel__row .carousel__cardItem .carousel__imgWrapper {
    padding: 24px !important;
  }
  .molo .carousel .carousel__row .carousel__cardItem .carousel__contentWrapper {
    padding-top: 0 !important;
  }
  .molo .carousel .carousel__row .carousel__cardItem.carousel__cardItem--one {
    width: 100% !important;
    margin-left: 0 !important;
    align-items: center !important;
  }
  .molo .carousel .carousel__row .carousel__cardItem.carousel__cardItem--two {
    display: none !important;
  }
  .molo .carousel .carousel__row.carousel__row--pagination .carousel__pagination--active, .molo .carousel .carousel__row.carousel__row--pagination .carousel__pagination {
    display: none;
  }
  .molo .carousel .carousel__row.carousel__row--pagination .carousel__controlArrow--right {
    left: 55% !important;
    font-size: 40px !important;
    opacity: 1 !important;
    top: -5px !important;
  }
  .molo .ribbon {
    width: 100% !important;
    height: auto !important;
    flex-flow: column !important;
    padding: 0 16px !important;
    text-align: center;
  }
  .molo .ribbon .ribbon__heading {
    font-family: 'Helvetica', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    color: #212353;
    margin-bottom: 24px;
  }
  .molo .ribbon .ribbon__subHeading {
    width: 100% !important;
    height: 29px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #4B5D68;
  }
  .molo .ribbon .ribbon__button--learn {
    margin-left: 0 !important;
    width: 100% !important;
  }
  .molo .ribbon .ribbon__button--request {
    margin-left: 0 !important;
    margin: auto !important;
    top: 32px !important;
  }
  .molo .footer {
    padding: 64px 12px !important;
    width: 100% !important;
  }
  .molo .footer .footer__splitWrapper {
    flex-flow: column !important;
  }
  .molo .footer .footer__splitWrapper .footer__splitItem:nth-child(1), .molo .footer .footer__splitWrapper .footer__splitItem:nth-child(2) {
    border-bottom: 1px solid gray !important;
  }
  .molo .footer .footer__splitWrapper .footer__splitItem {
    width: 100% !important;
    padding: 32px !important;
    margin-bottom: 64px i !important;
  }
  .molo .footer .footer__splitWrapper .footer__splitItem .footer__splitItemAddress {
    font-family: 'Nunito', sans-serif !important;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
    color: #212353;
  }
  .molo .footer .footer__splitWrapper .footer__splitItem .footer__splitItemContact {
    font-family: "Nunito", sans-serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    color: #212353;
  }
  .molo .footer .footer__splitWrapper .footer__splitItem .footer__linkListColumn .footer__linkItemHeading {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
    color: #212353;
  }
  .molo .footer .footer__splitWrapper .footer__splitItem .footer__linkListColumn .footer__linkList {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    color: #212353;
  }
  .molo .footer .footer__splitWrapper .footer__splitItem .footer__socialItemHeading {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
    color: #212353;
  }
  .molo .section__fourCardPack--marginBottom {
    margin-bottom: 0 !important;
  }
}

/*# sourceMappingURL=template.css.map */