@media only screen and (max-width: 650px) {
  .molo {
    width: 100%;
    // background-color: hotpink;
    .header {
        width: 100%!important;
        padding: 0 24px!important;
        .header__button:after {
            display: none!important;
        }
        .header__button {
            display: none!important;
          }
          .logo {
              margin-right: 0;
          }
    }
    .section {
      padding: 30px 24px 0 24px;
      width: 100%;
      .mainBanner {
        width: 100%;
        flex-flow: column wrap;
        padding: 32px 16px;
        .mainBanner__contentWrapper {
          width: 100%;
          .mainBanner__heading {
            font-size: 62px !important;
            line-height: 58px !important;
            width: 100%;
            margin-top: 12!important;
          }
          .mainBanner__text {
            width: 100%;
            padding: 5px;
          }
          .mainBanner__button {
              width: 100%!important;
          }

        }
      }
      .oneCard {
        flex-flow: column;
        width: 100%;
        height: auto;
        margin-top: 16px;
        .oneCard__imageWrapper {
          width: 100%;
          .oneCard__img {
            width: 250px;
            height: auto;
          }
        }
        .oneCard__contentWrapper {
          width: 100%;
          .oneCard__heading {
            width: 100%;
            padding: 5px 12px;
            padding-top: 12px;
            line-height: 42px;
          }
          .oneCard__text {
            width: 95%;
            margin-left: 0px;
            height: auto;
            padding: 0px 5px 12px 0 !important;
          }
        }
      }
    }
    .fourCardPack {
        width: 100%;
        margin-top: 12px !important;
        .fourCardPack__headerContent {
            width: 100%;
            margin: auto 0 !important;
            .fourCardPack__headerContent--title {
                margin-bottom: 24px !important;
            }
        }
        .fourCardPack__row {
            flex-flow: column !important;
            height: auto !important;
            .fourCardPack__cardItem {
                width: 100% !important;
                padding-right: 0 !important;
                flex-flow: column wrap !important;
                background-position: 0 !important;
                .fourCardPack__cardImgWrapper {
                    top: -32px !important;
                }
                .fourCardPack__cardContent {
                    top: -45px !important;
                    .fourCardPack__cardLabel{
                        font-family: 'Helvetica', sans-serif;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 32px;
                    }
                    .fourCardPack__cardText {
                        width: 100% !important;
                    }
                    .fourCardPack__cardLink {
                        position: relative;
                        top: -46px;
                    }
                    .fourCardPack__cardLink:after {
                        top: -27px!important;
                    }
                }
            }
        }
    }

    .carousel {
        width: 100% !important;
        height: auto !important;
        margin-bottom:50px !important;
        .carousel__heading {
            width: 100%!important;
            height: auto!important;
            text-align: center!important;
            padding: 24px !important;
        }
        .carousel__row {
            margin-bottom: 25px;
            padding: 16px!important;
            .carousel__cardItem {
                flex-flow: column !important;
                .carousel__imgWrapper {
                    padding: 24px!important;
                }
                .carousel__contentWrapper {
                    padding-top: 0!important;
                }
                &.carousel__cardItem--one {
                    width: 100% !important;
                    margin-left: 0 !important;
                    align-items: center!important;
                }
                &.carousel__cardItem--two {
                    display: none!important;
                }
            }
            &.carousel__row--pagination {
                .carousel__pagination--active, .carousel__pagination {
                    display: none;
                }
                .carousel__controlArrow--right {
                    left: 55%!important;
                    font-size: 40px!important;
                    opacity: 1!important;
                    top: -5px!important;
                }
            }
        }
    }
    .ribbon {
        width: 100% !important;
        height: auto !important;
        flex-flow: column !important;
        padding: 0 16px !important;
        text-align:center;
        .ribbon__heading {
            font-family: 'Helvetica', sans-serif;
            font-size: 40px;
            font-weight: 700;
            line-height: 52px;
            color: #212353;
            margin-bottom:24px;
        }
        .ribbon__subHeading {
            width: 100%!important;
            height: 29px;
            font-family: 'Nunito', sans-serif;
            font-size: 18px;
            font-weight: 500;
            color: #4B5D68;
        }
        .ribbon__button--learn {
            margin-left: 0!important;
            width: 100%!important;
        }
        .ribbon__button--request {
            margin-left: 0!important;
            margin: auto !important;
            top: 32px!important;
        }
    }
    .footer {
        padding: 64px 12px!important;
        width: 100%!important;
        .footer__splitWrapper {
            flex-flow: column!important;
            .footer__splitItem:nth-child(1), .footer__splitItem:nth-child(2) {
                border-bottom: 1px solid gray !important;
            }
            .footer__splitItem {
                width: 100%!important;
                padding: 32px!important;
                margin-bottom: 64px i !important;
                .footer__splitItemAddress {
                    font-family: 'Nunito', sans-serif !important;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 15px;
                    color: #212353;
                }
                .footer__splitItemContact {
                    font-family: 'Nunito', sans-serif!important;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 15px;
                    color: #212353;
                }
                .footer__linkListColumn {
                    .footer__linkItemHeading {
                        font-family: 'Nunito', sans-serif;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 15px;
                        color: #212353;
                    }
                    .footer__linkList {
                        font-family: 'Nunito', sans-serif;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 15px;
                        color: #212353;
                    }

                }
                .footer__socialItemHeading {
                    font-family: 'Nunito', sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 15px;
                    color: #212353;
                }
            }
        }
    }
    .section__fourCardPack--marginBottom {
        margin-bottom: 0!important;
    }
  }
}

@media screen and (max-width: 400px) {
  .molo {
    .row {
      flex-flow: column wrap;
    }
    .col-8,
    .col-4 {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .molo {
    .row {
      flex-flow: column wrap;
    }
    .col-8,
    .col-4,
    .col-2 {
      width: 100%;
    }
  }
}
